/* .todoitem{
    display: flex;
    margin: 20px 0;
    background-color: lightgrey;
    width: 300px;
    padding: 10px;
    max-height: 30px;
    border-radius: 10px;

}
.items-todo{
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
}
 */
